<div class="bg-white shadow-md rounded-lg p-4">
  <div class="flex justify-between items-center mb-2">
    <%= link_to patient.full_name, patient_path(patient), class: "text-indigo-500 font-medium hover:text-indigo-600" %>
    <div class="text-gray-500 text-sm">
      Assigned to Dr. <%= patient.doctor.full_name %>
    </div>
  </div>
</div>